RewriteEngine On

# Redirigir a la página de inicio
RewriteRule ^home$ /index.html#home [L,QSA]

# Redirigir a la página Acerca de
RewriteRule ^about$ /index.html#about [L,QSA]

# Redirigir a la página de contacto
RewriteRule ^contact$ /index.html#contact [L,QSA]
